@charset "utf-8";
body {
  background-color: #e8d9bf;
}
header {
  position: relative;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.header-logo {
  width: 226px;
}
.pc-nav ul {
  display: flex;
  gap: 55px;
}
.pc-nav li {
  width: 105px;
  text-align: center;
  gap: 55px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
.sp-nav,
.sp-btn {
  display: none;
}
/*スライダー*/
.slick-dots {
  bottom: 20px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #fff;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
@media screen and (max-width: 1100px) {
  .pc-nav {
    display: none;
  }
  /*ハンバーガー*/
  .sp-btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 2;
  }
  .sp-btn span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    /*位置の調整ー*/
    position: relative;
    top: 10px;
    /*ボタンの変化*/
    transition: 0.3s;
  }
  .sp-btn span::before,
  .sp-btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp-btn span::before {
    bottom: 10px;
  }
  .sp-btn span::after {
    top: 10px;
  }
  /*ばつ印*/
  .sp-btn.open span {
    background: transparent;
  }
  .sp-btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp-btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .sp-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp-nav ul li {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

.contents-wrap {
  max-width: 1000px;
  text-align: center;
  margin: 5.4vw auto 0 auto;
  padding: 0 10px;
}

h2 img {
  width: auto;
  height: 78px;
}
.catchcopy1 {
  font-size: 2.2vw;
  margin-bottom: 3.4vw;
}
.catchcopy2 {
  font-size: 6vw;
  line-height: 1.2;
  margin-bottom: 3vw;
}
.catchcopy3 {
  font-size: 1.7vw;
  line-height: 1.7;
}
.catchcopy3 .sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .contents-wrap {
    text-align: center;
    padding: 0 5px;
  }
  .catchcopy1 {
    font-size: 4.5vw;
  }
  .catchcopy2 {
    font-size: 10vw;
    line-height: 1.2;
  }
  .catchcopy3 {
    font-size: 4.2vw;
    line-height: 1.7;
  }
  .catchcopy3 .sp {
    display: block;
  }
}

.About-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-img {
  width: 50%;
  height: auto;
}
.About-img img {
  border-bottom-right-radius: 82px;
}
.About-text {
  max-width: 41%;
  margin-left: 4.2vw;
  text-align: left;
}
.About-text img {
  margin: 3vw 0;
}
.About-text h3 {
  font-size: 3.5vw;
  line-height: 1.4;
  font-weight: lighter;
  margin-bottom: 1.2vw;
}
.About-text p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: lighter;
}
@media screen and (max-width: 767px) {
  .About-wrap {
    flex-direction: column;
  }
  .About-img {
    width: 100%;
    height: auto;
  }
  .About-img img {
    border-bottom-right-radius: 0;
  }
  .About-text {
    display: contents;
  }
  .About-text img {
    margin: 2vw auto 2.2vw auto;
  }
  .About-text h2 {
    order: -1;
  }
  .About-text h3 {
    font-size: 9.6vw;
    text-align: left;
    line-height: 1.4;
    font-weight: lighter;
    margin-top: 5vw;
    width: 100%;
  }
  .About-text p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: lighter;
    padding: 0 10px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu-wrap h2 {
  margin-bottom: 33px;
}
.menu-box {
  width: 30%;
}
.menu1 {
  position: relative;
}
.menu-box img {
  width: 100%;
  height: auto;
  border-top-right-radius: 41px;
}
.menu-box h3 {
  position: absolute;
  left: 4%;
  top: 94%;
  color: #d30202;
  font-size: 38px;
  font-weight: lighter;
}
.menu-box p {
  max-width: 100%;
  text-align: left;
  font-size: 17px;
  line-height: 1.5;
  padding-top: 25px;
}
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .menu-box {
    width: 100%;
    margin-bottom: 60px;
  }
  .menu-box h3 {
    font-size: 40px;
  }
  .menu-box p {
    padding-top: 40px;
  }
}

.gallery-wrap h2 {
  max-width: 1000px;
  text-align: center;
  margin: 37px auto 33px auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery a img {
  width: 100%;
}
.gallery-btn1,
.gallery-btn2 {
  display: none;
}
/*スライダー*/
.slick-prev {
  left: 22%;
  z-index: 99;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  transform: rotate(-45deg);
}
.slick-next {
  right: 22%;
  z-index: 99;
}
.slick-next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
}
.lb-data .lb-number {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .slick-prev {
    left: 3%;
  }
  .slick-next {
    right: 3%;
  }
}

.event-box {
  background-color: #fff;
  border: 3px solid #4f260b;
}
.event-unit {
  width: fit-content;
  margin: 0 auto;
  padding: 30px 0;
}
.event-wrap h2 {
  margin-bottom: 33px;
}
.event1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 23px;
  font-weight: lighter;
  padding-bottom: 20px;
}
.event1:last-child {
  padding-bottom: 0;
}

.event1 p {
  padding-left: 56px;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .event1 {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
  }
  .event1 p {
    padding-left: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .event-unit {
    width: auto;
    padding: 25px;
  }
}
.access-wrap h2 {
  margin-bottom: 37px;
}
iframe {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  height: 470px;
  display: block;
  border: none;
}
@media screen and (max-width: 767px) {
  .access-wrap h2 {
    margin-bottom: 20px;

    iframe {
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      height: 375px;
      display: block;
      border: none;
    }
  }
}
footer {
  background-color: #fff;
}
.footer-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 83px 0;
  display: flex;
  justify-content: left;
}
.footer-logo {
  width: 226px;
  margin-right: 64px;
}
.address {
  font-size: 20px;
  line-height: 2;
}
small {
  padding-bottom: 83px;
  display: flex;
  justify-content: center;
}
.to_top {
  width: 125px;
  height: auto;
  position: fixed;
  right: 100px;
  bottom: 100px;
}
@media screen and (max-width: 767px) {
  .footer-wrap {
    flex-direction: column;
    padding: 38px 0;
    margin-left: 28px;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .address {
    font-size: 18px;
    line-height: 1.8;
  }
  small {
    padding-bottom: 34px;
  }
  .to_top {
    width: 100px;
    height: auto;
    position: fixed;
    right: 12px;
    bottom: 205px;
  }
}
