@charset "utf-8";
body {
  background-color: #eeeeee;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  color: rgb(2, 128, 114);
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
}
.container1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.service {
  background-color: white;
}
.service h2 {
  border-left: 12px solid rgb(2, 128, 114);
  color: rgb(2, 128, 114);
  padding: 3px;
  margin-bottom: 15px;
}
.service1 {
  margin: 10px 5px;
}
.service2 {
  margin: 10px 5px;
}
.service3 {
  margin: 10px 5px;
}
p {
  line-height: 1.5;
}
@media screen and (max-width: 400px) {
  .container1 {
    flex-direction: column;
    max-width: 380px;
    margin: 0 auto;
  }
  img {
    width: 100vw;
  }
}
